/*  Front End CSS  */

.margin_login{

  margin-top:100px;

}
.mtext{
  margin-top: 40px;
}
.color_head{
  background-color:#563D7C;
}


@media(max-width:767px){
    /*
     * Changed selector to `.tab-content > .tab-pane` to override `.fade:not(.show)`
     * In BS4 Beta `.tab-pane`s were rendered hidden by just `.fade`
     */
    .tab-content > .tab-pane {
        display: block;
        opacity: 1;
    }
}
